@tailwind base;
@tailwind components;
@tailwind utilities;






@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  

}


/*****************24-01-25***************/
.mission-btn{
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
}
.hero-section {
  margin-top: 120px;
  padding-bottom: 120px;
}
.hero-section h1{
  margin-top: 20px;
  font-family: "Dancing Script", serif !important;
  line-height: 110px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}
.hero-section p{
  margin-bottom: 20px !important;
  margin-top: 0 !important;
}
.invition-card {
  background-color: #8a2be252;
  border: 2px solid transparent;
  transform: 0.3s;
  cursor: pointer;
}
.invition-card:hover{
  background-color: transparent;
  border: 2px solid #8a2be2;
}
.invition-card span{
  color: #fdfdfd;
}
.invition-card p{
  color: #fff;
}
.event-card img{
  object-fit: contain !important;
}
.event-card .h-100{
  height: 100%;
}
.demo-btn{
  border: 1px solid #8a2be2;
  transition: 0.5s;
}
.demo-btn:hover{
  background-color: #8a2be2 !important;
}
footer p, footer a, footer span{
  color: #fff !important;
  transition: 0.5s;
}
footer a:hover{
  color: #8a2be2 !important;
}
footer {
  background-color: hsl(228.86deg 60.34% 22.75%) !important;
}
footer .border-t{
  border-top: 1px solid #ffffff6d !important;
}
.social-media a{
  background-color: transparent;
  border: 1px solid #8a2be2;
  transition: 0.5s;
}
.social-media a:hover{
  background-color: #8a2be2 !important;
}
.social-media a:hover svg path, .social-media a:hover svg rect, .social-media a:hover svg line{
  stroke: #fff;
}
footer .newsletter input{
  background-color: #fff;
}
.hero-section button{
  padding: 12px 35px;
}
@media (max-width:767px){
  .hero-section h1 {
    line-height: 50px;
    font-size: 40px;
}
p{
  font-size: 15px !important;
}
.hero-section {
  margin-top: 100px;
  padding-bottom: 70px;
}
.text-4xl {
  font-size: 25px;
}
.mb-16{
  margin-bottom: 30px;
}
.py-20{
  padding-top: 50px;
  padding-bottom: 30px;
}
.text-xl{
  font-size: 20px;
}
.py-32{
  padding-top:80px ;
  padding-bottom:80px ;
}
.footer-inner a{
  margin: 0 !important;
}
.footer-inner{
  display: flex;
  gap: 10px;
}
footer h4{
  margin-bottom: 20px !important;
}
.invition-date {
  padding-top: 1rem;
  display: flex;
  gap: 20px;
}
.invition-date span{
  font-size: 14px;
}
}

/*****************************************/
.mainModel-box {
  max-width: 450px !important;
}

.main-wrapper{
  overflow-x: hidden !important;
}
body{
  overflow-x: hidden !important;
  background-color: black;
}
html{
  overflow-x: hidden !important;
}
.main-event-right h1{
  color: #fff;
}
.my-competition-sec .invition-card span {
  font-size: 17px;
}
.my-competition-sec .invition-card h3{
  padding-left: 0;
}
.edit-option button:first-child{
  margin-right: 10px ;
}
.my-competition-sec {
  padding-top: 150px;
}
.competition-main-sec {
  padding: 50px 0;
}
.Competition-details .Competition-details-items {
  background-color: #8a2be252;
  color: #fff !important;
}
.Competition-details * {
  color: #fff !important;
}
.Competition-details h2{
  font-size: 20px;
}
.Competition-details .latested-date span{ 
  margin-right: 15px;
}
.main-event-sec{
  padding-top: 150px;
}
.termsandcondition *, .comptetion-termsandcondition *{
  color: #fff !important;
}
.termsandcondition ul, .comptetion-termsandcondition ul{
  margin-left: 30px;
}
.address_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.my-profile-sec  .main-profile *{
  color: #fff !important;
}
.my-profile-sec  .main-profile  .profile-box{
  background-color: #8a2be252;
  margin-top: 80px;
}
.my-profile-sec  .main-profile  .profile-image img {
  width: 100%;
  min-height: 330px;
  object-fit: cover;
}
.my-profile-sec  .main-profile .box-items *{
  color: #000 !important;
}
.contact-section{
  background-color: #8a2be252;
}

.contact-section *{
  color: #fff !important;
}
@media (max-width:1024px){
  .address_section h4 span{
    font-size:16px;
  }
  .address_section {
    padding-top: 20px;
    flex-direction: column;
    gap: 10px;
}
.address_section .name{
  font-size: 16px;
  margin-top: 0;
  line-height: 24px;
}

}
@media (max-width:600px){
  .mobile-btn-items {
    padding-top: 0;
    padding-right: 0;
    display: flex;
    gap: 10px;
}
  .toggle-menu {
    margin-left: 10px;
  }
  .Eevent-creators h2{
    font-size: 25px;
  }
  .scroll-indicator {
    bottom: 2px;
}
.my-competition-sec {
  padding-top: 100px;
  padding-bottom: 50px;
}
.Competition-details .Competition-details-items {
  padding: 20px;
}
.Competition-details .latested-date span {
  font-size: 15px;
}
.main-event-sec {
  padding-top: 70px;
}
.termsandcondition h1, .comptetion-termsandcondition h1{
  margin-bottom: 0;
}
.my-profile-sec  .main-profile  .profile-box {
  background-color: #8a2be252;
  margin-top: 80px;
  margin-bottom: 40px;
}
.name-email-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
}


@media (max-width:380px){
  .present-event-sec .main-top-title, .pase-event-sec .main-title-sec {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    gap: 10px;
}
.mainModel-box h2{
  font-size: 20px !important;
}
.mainbtn-group{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.my-profile-sec  .main-profile  .profile-image img {
  min-height: 250px;
}
.my-profile-sec .box-items {
  flex-direction: column;
  display: flex;
}
.main-profile-btn{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-profile-btn button{
  width: 100%;
  margin-left :0 !important;
}
}

.my-profile-sec .main-profile form input, .my-profile-sec .main-profile form textarea, .contact-section form input, .contact-section form textarea, .contact-section form select, .contact-section form select option, .my-profile-sec .main-profile form select, .my-profile-sec .main-profile form select option{
  color: #000 !important;
}
.my-profile-sec .main-profile .profile-dropdown *{
  color: #000 !important;
}
.my-profile-sec .main-profile button + button {
  color: #fff !important;
  background: #9333ea;
}
